.login-form {
  -webkit-box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.6);
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.6);

  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 0px solid #000000;

  width: 500px;
  margin: 0 auto;
  padding: 30px 20px;
}

.input-group {
  width: 100%;
  margin: 20px 0;
}

.login-form button {
  width: 100%;
}
