<div class="login-form">
  <legend>Insira seus dados para fazer login</legend>
  <fieldset>
    <div class="input-group">
      <label>Usuário</label>
      <input [(ngModel)]="login.usuario" type="text" name="usuario" class="form-control">
    </div>

    <div class="input-group">
      <label>Senha</label>
      <input [(ngModel)]="login.senha" type="password" name="senha" class="form-control">
    </div>

    <button (click)="fazerLogin()" class="btn btn-primary">Entrar</button>
  </fieldset>
</div>
