<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" routerLinkActive="active">
      <a class="navbar-brand" routerLink="">Login básico no Angular 5</a>
    </div>
    <ng-container *ngIf="logado">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="login">Login</a></li>
        <li routerLinkActive="active"><a routerLink="cursos">Cursos</a></li>
        <li routerLinkActive="active"><a routerLink="alunos">Alunos</a></li>
      </ul>
    </ng-container>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>



